.checkout-banner .best {
    width: 205px;
    height: 112px;
    background: url('../images/checkout/new/best-quality.png') top left no-repeat;
}

.checkout-banner .step {
    width: 205px;
    height: 115px;
    margin-top: 2px;
    background: url('../images/checkout/new/box.png') top left no-repeat;
    position: relative;
}

.checkout-banner .step .tooltip2 {
    display: none;
    position: absolute;
    width: 230px;
    top: 13px;
    min-height: 74px;
    font-family: Arial;
    cursor: pointer;
    left: 205px;
    background: rgba(0,0,0,0.8);
    font-size: 13px;
    z-index: 99;
    color: white;
    padding: 12px;
    border-radius: 18px;
    line-height: 16px;
}
.checkout-banner .step .tooltip2 .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
    left: -12px;
    position: absolute;
    top: 41px;
    background: none;
}
.checkout-banner .step:hover .tooltip2 {
    display: block;
}

.checkout-banner {
    margin-bottom: 20px;
}

.checkout-banner .step .num {
    position: absolute;
    font-size: 20px;
    top: 6px;
    left: 89px;
    font-weight: bold;
    color: #3e719d;
}

.checkout-banner .step .logo {
    display: block;   
    background: url('../images/checkout/new/ikony.png') top left no-repeat;
    position: absolute;
    top: 41px;
    left: 26px;    
}
.checkout-banner .step .text {
    font-size: 14px;
    color: #54585b;
    font-weight: bold;
    display: block;
    position: absolute;
    width: 93px;
    top: 49px;
    left: 75px;        
    text-align: left;
}
.checkout-banner .step .text strong {
    color: #3e719d;
}
.checkout-banner .step3 .text { top: 40px}
.checkout-banner .step5 .text { top: 40px}

.checkout-banner .step2 .text {left: 24px; text-align: right;}
.checkout-banner .step4 .text {left: 24px; text-align: right;}
.checkout-banner .step1 .logo { background-position:  -0px -0px; height: 43px; width: 33px; }
.checkout-banner .step2 .logo { background-position:  -33px -0px; height: 41px; width: 34px; left: 128px;}
.checkout-banner .step3 .logo { background-position:  -67px -0px; height: 37px; width: 36px; }
.checkout-banner .step4 .logo { background-position:  -103px -0px; height: 46px; width: 41px; left: 128px; }
.checkout-banner .step5 .logo { background-position:  -144px -0px; height: 46px; width: 36px; }


.checkout-social-login-button {
    padding: 20px;
    background: url('../images/checkout/new/social-bt1.png') top left no-repeat;
    display: inline-block;
    height: 13px;    
    width: 144px;
    padding-left: 55px;
    text-align: center;
    cursor: pointer;
    font-size: 19px;        
    color: white;
    text-shadow: 1px 1px #424242;
    margin: 10px;
    padding-right: 5px;
}

.checkout-social-login-button:hover {
    background-position: bottom left;
    
}

.checkout-social-login-button.google-login {
    background-image: url('../images/checkout/new/social-bt2.png');
}

#wraper_content .separator {
    font-size: 25px;
    font-style: italic;
    color: #5b5b5b;
    background: url('../images/checkout/new/separator.png') 50% 50% no-repeat;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#wraper_content .separator.plain {
    background: none;
}
#wraper_content .separator  span {
    padding-left: 15px;
    padding-right: 15px;
    background: #f1f1f1;
}
#wraper_content .checkout-type {
    font-size: 18px;
    color: gray;
    margin:30px;
}
#wraper_content .checkout-type span {
    font-size: 20px;
    cursor: pointer;
    color: #7290a5;
    text-decoration: underline;
    margin: 15px;
}

#wraper_content .checkout-type span:hover {
    color: blue;
}

#wraper_content .checkout-login {
    width: 635px;
    text-align: center;
    padding: 45px;
    padding-top: 15px;    
}
#login-form-wrapper {
    margin-bottom: 45px;
}
#wraper_content .checkout-login input {
    font-size: 13px;
    color: #686868;
    padding: 5px;
    width: 230px;
    margin: 9px;
    border-radius: 6px;
    margin-left: 0;
}

#checkout #login-form h2 {
    font-size: 18px;
    color: #686868;
    text-align: left;
    margin-bottom: 10px;
    background: url('../images/checkout/new/ico1.png') left top no-repeat;
    padding-left: 27px;
    line-height: 20px;
    margin-left: 5px;
}

#forgot-password-wrapper button, #login-form button {
    float: left;
    margin: 9px;
    background: url('../images/checkout/new/login-bt.png') top left no-repeat;
    font-size: 16px;
    color: white;
    border: 0;
    height: 33px;
    font-weight: bold;
    display: block;
    width: 105px;
    margin-top: 6px;
    margin-left: 0;
    cursor: pointer;
}
#forgot-password-wrapper button:hover, #login-form button:hover {
    background-position: bottom left;
}
#forgot-pass {
    text-align: left;
    display: block;
    color: #7290a5;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
}

#forgot-password-wrapper {
    display: block;
    clear: both;
    margin-top: 20px;    
}


/* DRUGI KROK CHECKOUTU */
#wraper_content .checkout-billing {  
    min-height: 45px;
}

#wraper_content .il_right {  
    min-width: 330px;
}


#wraper_content .checkout-billing #dolne_info {
    position: static;
}

#wraper_content .checkout-billing h2 {
    font-size: 20px;
    color: #2a5784;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
#wraper_content .checkout-billing .il_left {
    float: none;
    width: 100%;
    font-size: 16px;
    color: #585858;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 5px;
}
#wraper_content .checkout-billing .il_left label span {
    display: none;
}

#wraper_content .checkout-billing .il_middle {
    width: 315px;
    padding: 3px;
    margin-left: -2px;
}

#wraper_content .checkout-billing .il_middle input {
    width: 257px;
    height: 26px;
    border-radius: 5px;
}

#wraper_content .checkout-billing .il_middle input.telephone {
    width: 200px;
    border-radius: 0px 5px 5px 0px;    
}
#wraper_content .checkout-billing .il_middle input.countrycode {
    width: 50px;
    width: 48px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 3px;
    border-radius: 5px 0px 0px 5px;    
    text-align: center;
    font-weight: bold;    
}
#wraper_content .checkout-billing .il_middle select {
    width: 279px !important;
    border-radius: 5px;
}


#wraper_content .checkout-billing .il_middle input.city {
    width: 50px;
    width: 160px;
    margin-right: 3px;
    border-radius: 5px 0px 0px 5px;    
}

#wraper_content .checkout-billing .il_middle input.zip-code {
    width: 72px;
    border-radius: 0px 5px 5px 0px;    
    padding-left: 3px;
    padding-right: 3px;
    width: 86px;    
}

#wraper_content .social-login {
    background: #e3e3e3;
    width: 260px;
    box-shadow: inset 0px 0px 8px 3px #d3d3d3;
    position: absolute;
    right: 20px;
    padding: 15px;
    border-radius: 6px;
    z-index:10;
}


#wraper_content .social-login.step2 {
    top: 530px;
}
#wraper_content .social-login h2 {
    font-size: 24px;
    color: #435f7a;
    font-weight: normal;
}
#wraper_content .input_lifting:hover .il_middle input.text.countrycode,  #wraper_content .input_lifting.active .il_middle input.text.countrycode {
    background: #dcdcdc;
    background: -moz-linear-gradient(top, #dcdcdc 0%, #e8e8e8 50%, #e1e1e1 51%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(50%,#e8e8e8), color-stop(51%,#e1e1e1), color-stop(100%,#e9e9e9));
    background: -webkit-linear-gradient(top, #dcdcdc 0%,#e8e8e8 50%,#e1e1e1 51%,#e9e9e9 100%);
    background: -o-linear-gradient(top, #dcdcdc 0%,#e8e8e8 50%,#e1e1e1 51%,#e9e9e9 100%);
    background: -ms-linear-gradient(top, #dcdcdc 0%,#e8e8e8 50%,#e1e1e1 51%,#e9e9e9 100%);
    background: linear-gradient(to bottom, #dcdcdc 0%,#e8e8e8 50%,#e1e1e1 51%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#e9e9e9',GradientType=0 );
}


.social-login .checkout-social-login-button {
    background-image: url('../images/checkout/new/fb-bt1.png');
    width: 208px;
    height: 9px;
    padding-top: 14px;
    padding-left: 45px;
    margin-left: 0;
    margin-top: 0;
}

.social-login .checkout-social-login-button.google-login {
    background-image: url('../images/checkout/new/gp-bt3.png');    
    height: 7px;
}


.open-next-step, .finish-billing {
    background: url('../images/checkout/new/bt2.png') top left no-repeat;
    padding: 9px;
    width: 90px;
    text-align: center;
    padding-right: 27px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    margin-left: 195px;
    margin-top: 17px;    
    margin-bottom: 17px;    
}
.open-next-step {
    background: url('../images/checkout/new/bt1.png') bottom left no-repeat;
    padding-right: 9px;
    width: 108px;

    cursor: default;
}
.open-next-step.active {
        cursor: pointer;
       background-position: left top;
}
.open-next-step.active:hover {
    background-position: left 50%;
}

.finish-billing:hover {
    background-position: bottom left;
}

.styled-checkbox {
    background: url('../images/reg.png') 0px 0px no-repeat;
    cursor: pointer;
    display: block;
		float:left;
    padding:0px;
		width:13px;
		height:14px;
    vertical-align: middle;
		margin:0px 6px 0px 0px;
}

.styled-checkbox.checked {
    background: url('../images/reg_h.png') 0px 0px no-repeat;
}