@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoonad5a.eot?3ehlr0');
	src:url('../fonts/icomoond41d.eot?#iefix3ehlr0') format('embedded-opentype'),
		url('../fonts/icomoonad5a.woff?3ehlr0') format('woff'),
		url('../fonts/icomoonad5a.ttf?3ehlr0') format('truetype'),
		url('../fonts/icomoonad5a.svg?3ehlr0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/supporthub/roboto-light.eot');
    src: url('../fonts/supporthub/roboto-light.eot') format('embedded-opentype'),
    url('../fonts/supporthub/roboto-light.woff') format('woff'),
    url('../fonts/supporthub/roboto-light.ttf') format('truetype'),
    url('../fonts/supporthub/roboto-light.svg#Roboto') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/supporthub/roboto-regular.eot');
    src: url('../fonts/supporthub/roboto-regular.eot') format('embedded-opentype'),
    url('../fonts/supporthub/roboto-regular.woff') format('woff'),
    url('../fonts/supporthub/roboto-regular.ttf') format('truetype'),
    url('../fonts/supporthub/roboto-regular.svg#Roboto') format('svg');
    font-weight: bold;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
	content: "\e600";
}
.icon-arrow_left:before {
	content: "\e601";
}
.icon-arrow_right:before {
	content: "\e602";
}
.icon-bell:before {
	content: "\e603";
}
.icon-binary9:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-cart123:before {
	content: "\e606";
}
.icon-charity:before {
	content: "\e607";
}
.icon-gold:before {
	content: "\e608";
}
.icon-hamburger:before {
	content: "\e609";
}
.icon-helpdesk:before {
	content: "\e60a";
}
.icon-home:before {
	content: "\e60b";
}
.icon-info:before {
	content: "\e60c";
}
.icon-key:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e60e";
}
.icon-marketplace:before {
	content: "\e60f";
}
.icon-money:before {
	content: "\e610";
}
.icon-order:before {
	content: "\e611";
}
.icon-payment:before {
	content: "\e612";
}
.icon-pdf:before {
	content: "\e613";
}
.icon-product:before {
	content: "\e614";
}
.icon-q:before {
	content: "\e615";
}
.icon-question:before {
	content: "\e616";
}
.icon-refresh:before {
	content: "\e617";
}
.icon-sale:before {
	content: "\e618";
}
.icon-search:before {
	content: "\e619";
}
.icon-shield:before {
	content: "\e61a";
}
.icon-smile1:before {
	content: "\e61b";
}
.icon-support:before {
	content: "\e61c";
}
.icon-tick:before {
	content: "\e61d";
}
.icon-unlock:before {
	content: "\e61e";
}
.icon-wholesale:before {
	content: "\e61f";
}
.icon-wykrzyknik:before {
	content: "\e620";
}
.icon-x:before {
	content: "\e621";
}